* {
    margin: 0;
    padding: 0;

   }

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}   

#Lexiphoto {
    width: 20%;
    height: 20%;
    float: left;
    padding: 10px;
    margin: 15px 15px 0px 15px;
}

.background {
    background-image: url(../images/elegant_grid.png);
    clear: both;
}

#maincontent {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 5%;
    overflow: auto;
    border-style: solid;
    border-color:#cccccc;
    border-width: 0.5px;
   
    
}

p {
    padding: 5px;
    margin: 15px;
    line-height: 1.6;
    
}

.header {
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    border-bottom-style: solid;
    border-color:#cccccc;
    border-width: thin;

    
}
footer {
    background-color: #666666;
    width: 100%;
    border-top-style: solid;
    border-color:  #4aaaa5;
    border-width: thick;
    height: 40px;
    position: fixed;
    bottom: 0;
  
       
}

.copyright {
    color: #cccccc;
    font-size: 10px;
    text-align: center;
}
.navigation {
    text-align: right;
    padding: 25px 30px 30px 30px;
    overflow: visible;
    
}

.headerbar {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    height: 60px;
}

h1 {
    background-color: #4aaaa5;
    padding: 30px;
    width: 200px;
    position: absolute;
    bottom: 0;
    height: 60;
    top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
   
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
   
}

hr {
    border-color: #cccccc;
    border-style: solid;
    width: 910px;
    margin: 0 auto; 
}

a {
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 20px;   
    display: inline;
     
}

.linkbar {
    display: inline;
    border-right-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

form {
   padding: 20px; 
}

input,
textarea {
    width: 890px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0.5px solid #ccc;
    
}


input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 150px;
    margin: 25px;
    margin-left: 0px;
    font-size: 18px;
}

.image {
    width: 40%;
    height: 40%;
    padding: 20px;
    float: left;
}

.column {
    flex: 50%;
}